@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/indigo-dark.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/slate-dark.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/violet-dark.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';

:root {
  --color-bg: hsl(0, 0%, 4%);
  --color-fg: var(--slate-6);

  --color-muted: hsl(0, 0%, 16%);
  --color-muted-dark: hsl(0, 0%, 8%);
  --color-muted-darker: hsl(0, 0%, 6%);
  --color-muted-light: hsl(0, 0%, 64%);

  --color-primary: var(--indigo-9);
  --color-secondary: var(--indigo-9);
  --color-tertiary: var(--blue-11);

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-bs: 1rem;
  --font-md: 1.125rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 1.75rem;
  --font-3xl: 2rem;
  --font-4xl: 2.5rem;
  --font-5xl: 3rem;
  --font-6xl: 3.5rem;
  --font-7xl: 3.75rem;
  --font-8xl: 4rem;
  --font-9xl: 4.5rem;

  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-bs: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;
  --space-3xl: 6rem;
  --space-4xl: 8rem;

  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 1.5rem;
  --border-radius-xl: 2rem;
}

[data-theme='dark'] {
  --color-bg: var(--slate-dark-12);
  --color-fg: var(--slate--dark-1);

  --color-muted: hsl(0, 0%, 84%);
  --color-muted-dark: hsl(0, 0%, 68%);
  --color-muted-darker: hsl(0, 0%, 64%);
  --color-muted-darker: hsl(0, 0%, 94%);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.tiptap {
  &:focus-visible {
    outline: none;
  }
}

[data-type='zettlekasten-link'] {
  color: red !important;
}
