.card {
  width: 280px;
  background-color: hsl(0, 0%, 5%);
  padding: var(--space-sm);
  position: relative;
  border-radius: 11px;

  &::after {
    content: '';
    position: absolute;
    width: 101%;
    height: 102%;
    transform: translate(-0.5%, -1%);
    border-radius: 12px;
    top: 0;
    left: 0;
    background-image: conic-gradient(from 0deg at 50% 50%,
        var(--color-muted) 10%,
        var(--color-primary) 25%,
        var(--color-muted) 30%,
        var(--color-muted) 50%,
        hsl(0, 0%, 12%) 85%,
        var(--color-muted) 95%,
        var(--color-muted) 100%);
    z-index: -1;
  }

  & h5 {
    font-size: var(--font-sm);
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  & p {
    font-size: var(--font-sm);
    color: var(--color-muted-light);
    margin-top: var(--space-sm);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-xs);
    margin-top: var(--space-sm);
    width: 100%;

    & button {
      padding: var(--space-2xs);
      /* background-color: var(--color-muted); */
      border-radius: var(--border-radius-xs);
      transition: all var(--ease-time) var(--ease);

      &[data-favourite='true'] {
        /* color: var(--amber-9); */

        &:hover {
          background-color: var(--amber-9);
          color: var(--color-bg);
        }
      }

      &[data-delete='true'] {
        /* color: var(--red-9); */

        &:hover {
          background-color: var(--red-9);
          color: var(--color-bg);
        }
      }

      &:hover {
        background-color: var(--color-muted-light);
        color: var(--color-bg);
      }
    }
  }
}

.overlay {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  background-color: white;
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    color: var(--color-bg);
    font-size: 17px;
    margin-bottom: var(--space-xs);
  }

  &__description {
    margin-bottom: var(--space-sm);
    color: var(--color-muted);
    font-size: var(--font-sm);
    line-height: 1.5;
  }

  & button {
    padding: 10px 15px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--space-xs);

    &_cancel {
      background-color: var(--color-muted);
      color: var(--color-fg);
      border: none;
      border-radius: 4px;
      font-size: var(--font-xs);
      font-weight: 700;
      line-height: 1;
      text-transform: capitalize;
      cursor: pointer;
      transition: background-color 150ms cubic-bezier(0.16, 1, 0.3, 1);

      &:hover {
        background-color: var(--color-muted-dark);
      }
    }

    &_confirm {
      background-color: var(--red-9);
      color: var(--color-bg);
      border: none;
      border-radius: 4px;
      font-size: var(--font-xs);
      font-weight: 700;
      line-height: 1;
      text-transform: capitalize;
      cursor: pointer;
      transition: background-color 150ms cubic-bezier(0.16, 1, 0.3, 1);

      &:hover {
        background-color: var(--color-primary-dark);
      }
    }
  }
}
