.card {
  width: 280px;
  background-color: var(--color-muted-dark);
  padding: var(--space-sm);
  position: relative;
  border-radius: 11px;

  &::after {
    content: '';
    position: absolute;
    width: 101%;
    height: 102%;
    transform: translate(-0.5%, -1%);
    border-radius: 12px;
    top: 0;
    left: 0;
    background-image: conic-gradient(
      from 0deg at 50% 50%,
      var(--color-muted) 10%,
      var(--color-muted-light) 25%,
      var(--color-muted) 30%,
      var(--color-muted) 50%,
      hsl(0, 0%, 12%) 85%,
      var(--color-muted) 95%,
      var(--color-muted) 100%
    );
    z-index: -1;
  }

  & h5 {
    font-size: var(--font-sm);
    font-weight: 900;
  }

  & p {
    font-size: var(--font-sm);
    color: var(--color-muted-light);
    margin-top: var(--space-sm);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    margin-top: var(--space-md);

    & button {
      padding: var(--space-xs);
      background-color: var(--color-muted);
      border-radius: var(--border-radius-xs);
      transition: background-color 0.2s ease-out-circ;

      &[data-favourite='true'] {
        color: var(--amber-9);

        &:hover {
          background-color: var(--amber-9);
          color: var(--color-bg);
        }
      }

      &[data-delete='true'] {
        color: var(--red-9);

        &:hover {
          background-color: var(--red-9);
          color: var(--color-bg);
        }
      }

      &:hover {
        background-color: var(--color-muted-light);
        color: var(--color-bg);
      }
    }
  }
}
