.sidebar {
  width: 54px;
  height: 100%;
  padding: 0 var(--space-xs);
  transition: width 0.3s var(--ease);
  container-type: inline-size;
  border-right: 1px solid var(--color-muted);

  &[data-open='true'] {
    width: 150px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--space-xl);

    &[data-open='false'] {
      /* width: 100%; */
      padding-left: 0;
    }

    &_logo {
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding-left: var(--space-xs);

      &:hover svg {
        color: var(--color-primary);
      }

      & svg {
        transition: all var(--ease-time) var(--ease);
      }
    }

    &_toggle {
      transition: transform var(--ease-time) var(--ease);
      cursor: pointer;
      color: var(--color-muted-light);
      display: flex;
      justify-content: center;
      align-items: center;

      &[data-open='false'] {
        width: 100%;
      }

      &:hover svg {
        color: var(--color-primary);
      }

      & svg {
        transition: all var(--ease-time) var(--ease);
      }
    }
  }

  &__list {
    margin-top: var(--space-xl);

    & ul {
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);
      justify-content: center;

      &[data-open='false'] {
        /* align-items: center; */
      }
    }

    & li {
      transition: all var(--ease-time) var(--ease);

      & a {
        color: var(--color-muted-light);
        padding: var(--space-xs);
      }

      &[data-active='true'] {
        border-radius: var(--border-radius-xs);
        background-color: var(--color-muted-dark);

        & a {
          color: var(--color-primary);
        }

        & svg {
          color: var(--color-primary);
        }
      }

      &:hover {
        background-color: var(--color-muted-darker);
        border-radius: var(--border-radius-xs);
      }

      & a {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
        cursor: pointer;
        transition: color var(--ease-time) var(--ease);
        font-size: var(--font-xs);
        text-transform: capitalize;

        & span {
          font-weight: 500;

          @container (max-width: 80px) {
            display: none;
          }
        }

        & svg {
          font-size: var(--font-lg);
        }
      }

      & div {
        width: 10px;
        height: 10px;
        background-color: var(--color-primary);
        border-radius: 9999px;
        transition: opacity var(--ease-time) var(--ease);

        @container (max-width: 80px) {
          display: none;
        }
      }
    }
  }
}
